<footer id="footer-copyright" class="footer-copyright">
    <div class="container">
        <div class="hm-footer-copyright text-center">
            <p>
                {{ portfolio.copyright }} {{ portfolio.site_designer }}
                {% if portfolio.site_designer_link.url is not empty %}
                    <a href="{{ portfolio.site_designer_link.url }}"
                       target="{{ portfolio.site_designer_link.target }}">
                        {{ portfolio.site_designer_link.title }}
                    </a>
                {% endif %}
            </p>
        </div>
    </div>

    <div id="scroll-Top">
        <div class="return-to-top">
            <i class="fa fa-angle-up " id="scroll-top"></i>
        </div>
    </div>
</footer>