{% if portfolio.experience is not empty %}
    <section id="{{ portfolio.experience_section_title|sanitize }}" class="experience section-content-item">
        <div class="section-heading text-center">
            <h2>{{ portfolio.experience_section_title }}</h2>
        </div>
        <div class="container">
            <div class="experience-content">
                <div class="main-timeline">
                    <ul>
                        {% for experience in portfolio.experience %}
                            <li>
                                <div class="single-timeline-box fix">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="experience-time text-right">
                                                <h2>{{ experience.date }}</h2>
                                                <h3>{{ experience.position }}</h3>
                                            </div>
                                        </div>
                                        <div class="col-md-offset-1 col-md-5">
                                            <div class="timeline">
                                                <div class="timeline-content">
                                                    <h4 class="title">
                                                        <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                                        {{ experience.company }}
                                                    </h4>
                                                    <h5>{{ experience.location }}</h5>
                                                    <p class="description">
                                                        {{ experience.description }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endif %}